.register-form {
    background-image: url("../../public/images/truck2.jpg");
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #8f1e1e;
    padding: 9px;
    outline: 0;
    border: solid 1px #4B718B;
    box-shadow: rgba(179, 141, 17, 0.1) 0px 0px 8px;
}

form {
    margin-top: 1em !important;
}

.register-btn {
    background-color: #ec5e1b !important;
    border-color: #e65a17 !important;
    color: white !important;
}

h2 {
    color: white !important;
}
